In [81]:
import pandas

In [82]:
d = './TOTALBASE.csv'
data = pandas.read_csv(d)
data[['Code', 'Pub lag']]

                Code  Pub lag
0    A091RC1Q027SBEA  4 month
1            A229RX0  2 month
2    A824RL1Q225SBEA  4 month
3                AAA  1 month
4        AIRRTMFMD11  3 month
..               ...      ...
130          USTRADE  1 month
131  W006RC1Q027SBEA  4 month
132         TLT_MEAN  1 month
133         IVV_MEAN  1 month
134       QUSR628BIS  3 month

[135 rows x 2 columns]

In [90]:
def make_monthly_lags(x):
    if (x['Code'] == 'TLT') or (x['Code'] == 'IVV') or (x['Code'] == 'TLT_MEAN') or (x['Code'] == 'IVV_MEAN'):
        return int(0)
    else:
        r = str(x['Pub lag']).split(' ')
        if len(r) == 2:
            f, q = r
            if 'day' in q:
                return int(0)
            elif 'month' in q:
                return int(f)
            elif 'quarter' in q:
                return int(int(f) * 3)
            elif 'year' in q:
                return int(int(f) * 12)
            else:
                return pandas.NA
        else:
            return pandas.NA

In [91]:
data['s'] = data[['Code', 'Pub lag']].apply(func=make_monthly_lags, axis=1)
data['s']

0      4
1      2
2      4
3      1
4      3
      ..
130    1
131    4
132    1
133    1
134    3
Name: s, Length: 135, dtype: object

In [92]:
data[pandas.isna(data['s'])]

,#,Code,Description,Link,Freq,SeasonallyAdj,Pub lag,Notes,s
68,33.0,INTDSRJPM193N,"Interest Rates, Discount Rate for Japan",https://fred.stlouisfed.org/series/INTDSRJPM193N,M,NaN,Not Updated any more,NaN,<NA>
72,NaN,IUES.L,NaN,NaN,NaN,NaN,NaN,NaN,<NA>
73,NaN,IUIT.L,NaN,NaN,NaN,NaN,NaN,NaN,<NA>

In [93]:
result = data.loc[~pandas.isna(data['s']), ['Code', 's']]
result = result.set_index('Code')
result

                 s
Code
A091RC1Q027SBEA  4
A229RX0          2
A824RL1Q225SBEA  4
AAA              1
AIRRTMFMD11      3
...             ..
USTRADE          1
W006RC1Q027SBEA  4
TLT_MEAN         1
IVV_MEAN         1
QUSR628BIS       3

[132 rows x 1 columns]

In [94]:
result.to_dict()

{'s': {'A091RC1Q027SBEA': 4,
  'A229RX0': 2,
  'A824RL1Q225SBEA': 4,
  'AAA': 1,
  'AIRRTMFMD11': 3,
  'AWHAERT': 1,
  'AWHMAN': 1,
  'BAA': 2,
  'BAMLC0A0CM': 0,
  'BAMLC0A0CMEY': 0,
  'BAMLC0A4CBBB': 0,
  'BAMLH0A0HYM2': 0,
  'BAMLH0A0HYM2EY': 0,
  'BAMLHE00EHYIEY': 0,
  'BOPGSTB': 2,
  'CE16OV': 1,
  'CES3000000008': 1,
  'CPF1M': 1,
  'CPF3M': 1,
  'CPIAUCSL': 1,
  'CSUSHPINSA': 3,
  'CUSR0000SETA02': 1,
  'CUUR0000SEHA': 1,
  'CUUR0000SETA01': 1,
  'DCAFRC1A027NBEA': 12,
  'DFXARC1M027SBEA': 2,
  'DGDSRX1': 2,
  'DHLCRC1Q027SBEA': 4,
  'DHUTRC1Q027SBEA': 4,
  'DJRYRC1A027NBEA': 24,
  'DMOTRC1Q027SBEA': 4,
  'DNRGRC1M027SBEA': 2,
  'DPHCRC1A027NBEA': 24,
  'DPRIME': 0,
  'DTB3': 0,
  'DTBSPCKFM': 1,
  'EMRATIO': 1,
  'EMVFINCRISES': 1,
  'EMVMACRORE': 1,
  'EUEPUINDXM': 1,
  'FDHBFRBN': 4,
  'FEDFUNDS': 1,
  'FLEXCPIM679SFRBATL': 1,
  'FPCPITOTLZGUSA': 12,
  'FRGEXPUSM649NCIS': 2,
  'FRGSHPUSM649NCIS': 2,
  'GCEC1': 4,
  'GDP': 3,
  'GEPUPPP': 2,
  'GFDEBTN': 4,
  'GFDEGDQ188S': 4,
  'GPDIC1': 4,
  'GS1': 1,
  'GS10': 1,
  'GS1M': 1,
  'GS2': 1,
  'GS20': 1,
  'GS3': 1,
  'GS3M': 1,
  'HDTGPDUSQ163N': 4,
  'IC131': 2,
  'IIPPORTAQ': 4,
  'IIPUSASSQ': 4,
  'IIPUSLIAQ': 4,
  'IIPUSNETIQ': 4,
  'INTDSRBRM193N': 3,
  'INTDSRCNM193N': 4,
  'INTDSRINM193N': 6,
  'INTDSRTRM193N': 3,
  'INTDSRUSM193N': 4,
  'IRLTLT01USM156N': 1,
  'IVV': 0,
  'JTU5300QUL': 2,
  'KCFSI': 1,
  'MANEMP': 1,
  'MICH': 2,
  'MRTSSM44000USS': 3,
  'MRTSSM44112USN': 3,
  'MSPUS': 4,
  'PAYEMS': 1,
  'PCE': 2,
  'PCEC96': 2,
  'PCEDG': 2,
  'PCEND': 2,
  'PCEPI': 2,
  'PCEPILFE': 3,
  'PCES': 2,
  'PCETRIM12M159SFRBDAL': 2,
  'PCU483111483111': 1,
  'PCU484121484121': 1,
  'PCU4841214841212': 1,
  'PCU4883204883208': 1,
  'PCUOMFGOMFG': 1,
  'PMSAVE': 2,
  'PNFIC1': 4,
  'PRFIC1': 4,
  'PSAVERT': 2,
  'RAILFRTCARLOADSD11': 2,
  'RAILFRTINTERMODAL': 2,
  'RBUSBIS': 2,
  'RECPROUSM156N': 2,
  'RSXFS': 2,
  'SPASTT01AUM657N': 2,
  'SPASTT01BRM657N': 2,
  'SPASTT01CNM657N': 2,
  'SPASTT01DEM657N': 2,
  'SPASTT01EZM657N': 2,
  'SPASTT01GBM657N': 2,
  'SPASTT01INM657N': 2,
  'SPASTT01KRM657N': 2,
  'SPASTT01MXM657N': 2,
  'SPASTT01RUM657N': 2,
  'SPASTT01TRM657N': 2,
  'SPASTT01USM657N': 2,
  'SPASTT01ZAM657N': 2,
  'STDSL': 2,
  'STICKCPIM157SFRBATL': 1,
  'T10YIEM': 1,
  'T20YIEM': 1,
  'TERMCBCCALLNS': 2,
  'TERMCBCCINTNS': 2,
  'TLT': 0,
  'TOTALSA': 2,
  'TSIFRGHT': 2,
  'UNRATE': 1,
  'USACPIALLMINMEI': 3,
  'USEPUINDXM': 1,
  'USTRADE': 1,
  'W006RC1Q027SBEA': 4,
  'TLT_MEAN': 1,
  'IVV_MEAN': 1,
  'QUSR628BIS': 3}}

In [95]:
import json
with open('lags.json', 'w') as fp:
    json.dump(result.to_dict()['s'], fp)

In [96]:
import json
with open('lags.json', 'r') as fp:
    r = json.load(fp)
r

{'A091RC1Q027SBEA': 4,
 'A229RX0': 2,
 'A824RL1Q225SBEA': 4,
 'AAA': 1,
 'AIRRTMFMD11': 3,
 'AWHAERT': 1,
 'AWHMAN': 1,
 'BAA': 2,
 'BAMLC0A0CM': 0,
 'BAMLC0A0CMEY': 0,
 'BAMLC0A4CBBB': 0,
 'BAMLH0A0HYM2': 0,
 'BAMLH0A0HYM2EY': 0,
 'BAMLHE00EHYIEY': 0,
 'BOPGSTB': 2,
 'CE16OV': 1,
 'CES3000000008': 1,
 'CPF1M': 1,
 'CPF3M': 1,
 'CPIAUCSL': 1,
 'CSUSHPINSA': 3,
 'CUSR0000SETA02': 1,
 'CUUR0000SEHA': 1,
 'CUUR0000SETA01': 1,
 'DCAFRC1A027NBEA': 12,
 'DFXARC1M027SBEA': 2,
 'DGDSRX1': 2,
 'DHLCRC1Q027SBEA': 4,
 'DHUTRC1Q027SBEA': 4,
 'DJRYRC1A027NBEA': 24,
 'DMOTRC1Q027SBEA': 4,
 'DNRGRC1M027SBEA': 2,
 'DPHCRC1A027NBEA': 24,
 'DPRIME': 0,
 'DTB3': 0,
 'DTBSPCKFM': 1,
 'EMRATIO': 1,
 'EMVFINCRISES': 1,
 'EMVMACRORE': 1,
 'EUEPUINDXM': 1,
 'FDHBFRBN': 4,
 'FEDFUNDS': 1,
 'FLEXCPIM679SFRBATL': 1,
 'FPCPITOTLZGUSA': 12,
 'FRGEXPUSM649NCIS': 2,
 'FRGSHPUSM649NCIS': 2,
 'GCEC1': 4,
 'GDP': 3,
 'GEPUPPP': 2,
 'GFDEBTN': 4,
 'GFDEGDQ188S': 4,
 'GPDIC1': 4,
 'GS1': 1,
 'GS10': 1,
 'GS1M': 1,
 'GS2': 1,
 'GS20': 1,
 'GS3': 1,
 'GS3M': 1,
 'HDTGPDUSQ163N': 4,
 'IC131': 2,
 'IIPPORTAQ': 4,
 'IIPUSASSQ': 4,
 'IIPUSLIAQ': 4,
 'IIPUSNETIQ': 4,
 'INTDSRBRM193N': 3,
 'INTDSRCNM193N': 4,
 'INTDSRINM193N': 6,
 'INTDSRTRM193N': 3,
 'INTDSRUSM193N': 4,
 'IRLTLT01USM156N': 1,
 'IVV': 0,
 'JTU5300QUL': 2,
 'KCFSI': 1,
 'MANEMP': 1,
 'MICH': 2,
 'MRTSSM44000USS': 3,
 'MRTSSM44112USN': 3,
 'MSPUS': 4,
 'PAYEMS': 1,
 'PCE': 2,
 'PCEC96': 2,
 'PCEDG': 2,
 'PCEND': 2,
 'PCEPI': 2,
 'PCEPILFE': 3,
 'PCES': 2,
 'PCETRIM12M159SFRBDAL': 2,
 'PCU483111483111': 1,
 'PCU484121484121': 1,
 'PCU4841214841212': 1,
 'PCU4883204883208': 1,
 'PCUOMFGOMFG': 1,
 'PMSAVE': 2,
 'PNFIC1': 4,
 'PRFIC1': 4,
 'PSAVERT': 2,
 'RAILFRTCARLOADSD11': 2,
 'RAILFRTINTERMODAL': 2,
 'RBUSBIS': 2,
 'RECPROUSM156N': 2,
 'RSXFS': 2,
 'SPASTT01AUM657N': 2,
 'SPASTT01BRM657N': 2,
 'SPASTT01CNM657N': 2,
 'SPASTT01DEM657N': 2,
 'SPASTT01EZM657N': 2,
 'SPASTT01GBM657N': 2,
 'SPASTT01INM657N': 2,
 'SPASTT01KRM657N': 2,
 'SPASTT01MXM657N': 2,
 'SPASTT01RUM657N': 2,
 'SPASTT01TRM657N': 2,
 'SPASTT01USM657N': 2,
 'SPASTT01ZAM657N': 2,
 'STDSL': 2,
 'STICKCPIM157SFRBATL': 1,
 'T10YIEM': 1,
 'T20YIEM': 1,
 'TERMCBCCALLNS': 2,
 'TERMCBCCINTNS': 2,
 'TLT': 0,
 'TOTALSA': 2,
 'TSIFRGHT': 2,
 'UNRATE': 1,
 'USACPIALLMINMEI': 3,
 'USEPUINDXM': 1,
 'USTRADE': 1,
 'W006RC1Q027SBEA': 4,
 'TLT_MEAN': 1,
 'IVV_MEAN': 1,
 'QUSR628BIS': 3}